.post
  .perma
    a(ng-href="#/posts/{{ post.id }}")¶

  .post_body
    .post_timestamp(ng-bind="post.real_time")
    .post_title
      h2(ng-bind="post.description")
    .post_content(ng-bind-html-unsafe="post.post_content")
    br

    a.toggle_comments(
      href="",
      ng-click="show_comments = !show_comments",
      ng-init="show_comments = false")
      span(ng-hide="show_comments") Show
      span(ng-show="show_comments") Hide
      |  Comments (
      span(ng-bind="post.comments_count")
      | )

    .comments(ng-show="show_comments")
      .comment(ng-repeat="comment in post.comments")
        .comment_timestamp(title="{{ comment.real_time }}", ng-bind="comment.human_time")
        .comment_avatar
          a(href="https://github.com/{{ comment.user.login }}")
            img(ng-src="{{ comment.user.avatar_url }}")
        .comment_author
          a(href="https://github.com/{{ comment.user.login }}", ng-bind="comment.user.login")
        .comment_content(ng-bind-html-unsafe="comment.body")

