!!!
html(ng-app="GistBlog")
  head
    meta(charset='utf-8')
    title Gist a Life

    link(href='http://fonts.googleapis.com/css?family=PT+Mono|Source+Sans+Pro:400,900', rel='stylesheet', type='text/css')
    link(href='styles/main.css', rel='stylesheet', type='text/css')

  body
    #content
      #header
        div
          h1 The Place

      #posts(ng-controller="PostCtrl")
        .post(ng-repeat="post in posts")
          ul
            li(ng-bind="post.description")
            li(ng-bind="post.created_at")
            li(ng-bind="post.updated_at")
            li(ng-bind="post.id")
            .post_content(ng-bind-html-unsafe="post.post_content")

            .comments
              .comment(ng-repeat="comment in post.comments")
                ul
                  li(ng-bind="comment.created_at")
                  li(ng-bind="comment.updated_at")
                  .comment_body(ng-bind-html-unsafe="comment.body")

    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='js/app.js')
    script(src="js/controllers/post_controller.js")
